<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suitetestng">
  <test thread-count="5" name="Testng">
    <classes>
      <class name="Com.Tetstng.Dep1sample"/>
      <!--<class name="Com.Tetstng.Depsample"/>-->
      <class name="Com.Tetstng.NewSample"/>
      <!--<class name="Com.Tetstng.sample"/>-->
      <class name="Com.Tetstng.AppTest"/>
    </classes>
  </test> <!-- Testng -->
</suite> <!-- Suitetestng -->
